<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classic</key>
	<array>
		<dict>
			<key>name</key>
			<string>Original</string>
			<key>imageName</key>
			<string>App</string>
			<key>iconName</key>
			<string>AppIcon</string>
		</dict>
	</array>
	<key>modern</key>
	<array/>
</dict>
</plist>
